/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: royalblue;
  font-family: monospace;
  color: #fff;
}

.center,
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center .click-me {
  display: block;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.center #click {
  display: none;
}

.center .content {
  width: 400px;
  height: 350px;
  background-color: #fff;
  color: #333;
}

.center .content .header {
  width: 100%;
  height: 60px;
  background: seagreen;
  overflow: hidden;
}

.center .content .header h2 {
  padding-left: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.center .content .header .fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.center .content .fa-check {
  margin-top: 20px;
  font-size: 2rem;
  color: white;
  background: seagreen;
} */

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: royalblue;
  height: 100vh;
  user-select: none;
}

.center,
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#click {
  display: none;
}

.click-me {
  display: block;
  width: 160px;
  height: 50px;
  background: #27ae60;
  border: 1px solid #26a65b;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transform: 0.5s;
}

.click-me:hover {
  background: #219150;
}

.content {
  opacity: 0;
  visibility: hidden;
  width: 400px;
  height: 360px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s ease-in;
}

#click:checked ~ .content {
  opacity: 1;
  visibility: visible;
}

.header {
  height: 68px;
  background: #27ae60;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.header h2 {
  color: white;
  padding-left: 32px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 34px;
}

.fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #e8f7fc;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.fa-check {
  font-size: 50px;
  color: #27ae60;
  font-weight: bold;
  height: 80px;
  width: 80px;
  border: 1px solid #27ae60;
  text-align: center;
  padding-top: 13px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 30px 0 0 160px;
}

.isi {
  padding: 10px 2px;
  font-size: 19px;
  color: #1a1a1a;
  text-align: center;
}

.line {
  bottom: 60px;
  width: 100%;
  height: 1px;
  background: silver;
}

.close-btn {
  position: absolute;
  bottom: 10px;
  right: 25px;
  border: 1px solid #27ae60;
  border-radius: 3px;
  color: #27ae60;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background: #27ae60;
  color: white;
  transition: 0.5s;
}
